{% extends 'base.html' %}  
{% load static %}

{% block title %}
Hello
{% endblock title %}
<script src="assets/js/layout.js"></script>
<!-- Bootsrap Css  -->
<!-- Icons Css -->
<!-- App Css-->
<!-- custom Css-->
<!--datatable css-->
<!--datatable responsive css-->


{% block row1column1 %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Spot Information</h5>
                {{ALL_SPOTS}}
                {{ALL_TIMES}}
            </div>
            <div class="card-body">
                <table id="scroll-vertical" class="table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>SpotID</th>
                            <th>Area</th>
                            <th>Address</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Google Maps</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Gulshan-1</td>
                            <td>Road-124, House-4</td>
                            <td>Jadir Siddique</td>
                            <td>01781923914</td>
                            <td>
                                <!-- django should fetch link from db and insert into href and textbox -->
                                <a href="https://goo.gl/maps/dB4UrABvg74dv9sH9" target="_blank">https://goo.gl/maps/dB4UrABvg74dv9sH9</a>
                            </td>

                            <td class="sorting_1"><span class="badge badge-soft-danger">Closed</span></td>
                            <td><span class="badge bg-success">Low</span></td>
                        </tr>
                        {% for spot in ALL_SPOTS %}
                            <tr>
                                <td>{{spot.spot_id}}</td>
                                <td>{{spot.spot_area}}</td>
                                <td>Road-{{spot.spot_road}}, House-{{spot.spot_house}}</td>
                                <td>{{spot.spot_owner.name}}</td>
                                <td>{{spot.spot_number}}</td>
                                <td>
                                    <a href="{{spot.spot_maps_url}}" target="_blank">{{spot.spot_maps_url}}</a>
                                </td>
                        
                                <td>
                                    {{spot.spot_times}}
                                </td>
                
                                
                                <td><button type="submit" class="btn btn-success" onclick="location.href='/bookslot/{{spot.spot_id}}//' ;" ></i>Book</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<style>
    table .book {
        background-color: #9933ff;
        color: white;
        width: 80%;
        font-size: 11px;
        border-radius: 5px;
        padding: 5px;
        margin-left: 10px;
    }

    table .full {
        background-color: red;
        color: white;
        width: 80%;
        font-size: 11px;
        border-radius: 5px;
        padding: 5px;
        margin-left: 10px;
    }
</style>
{% endblock row1column1 %}